/UnityClient/Logs
/UnityClient/Temp
/UnityClient/Library/EditorInstance.json
/UnityClient/Library/CurrentLayout-default.dwlt
/UnityClient/Library/SourceAssetDB
/UnityClient/Library/ArtifactDB
/UnityClient/Library
/UnityClient/.vs
/UnityClient/obj
/UnityClient/*.csproj
/UnityClient/UserSettings
